<footer>
	<div class="navigation-footer-legal">
		<div class="row">
			<div class="columns">
				<ul class="legal">
					<li class="small-only-12">    <a href="/about">About</a></li>
					<li class="small-only-12">    <a href="/for-government">For Government</a></li>
					<li class="small-only-12">    <a href="/legal-notices">Legal notices</a></li>
					<li class="small-only-12">    <a href="/about/accessibility">Accessibility</a></li>
					<li class="small-only-12">    <a href="/about/other-languages">Other languages</a></li>
					<li class="small-only-12">    <a href="/contact-us">Contact us</a></li>
				</ul>
				<ul class="social">
					<li>
						<a class="facebook" href="https://www.facebook.com/business.gov.au">
							<span class="fa fa-facebook-square"></span>
							<span class="label show-for-sr">Facebook</span>
						</a>
					</li>
					<li>
						<a class="twitter" href="https://twitter.com/business_gov_au">
							<span class="fa fa-twitter-square"></span>
							<span class="label show-for-sr">Twitter</span>
						</a>
					</li>
					<li>
						<a class="linkedin" href="https://www.linkedin.com/company/department-of-innovation-industry-science-and-research">
							<span class="fa fa-linkedin-square"></span>
							<span class="label show-for-sr">LinkedIn</span>
						</a>
					</li>
					<li>
						<a class="youtube" href="https://www.youtube.com/user/BusinessGovAu">
							<span class="fa fa-youtube-square"></span>
							<span class="label show-for-sr">Youtube</span>
						</a>
					</li>
				</ul>
				<div class="bga-ftr-logo">
					<a href="/"><strong>business</strong>.gov.au</a>
				</div>
				<div class="footer-logo">
					<a href="https://www.business.gov.au">
						<span>business.gov.au</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- a href="/web-chat" class="chat-now">Chat Now</a -->
</footer>