<div class="top-banner">
	<div class="mobile-logo"><a href="/"><strong>business</strong>.gov.au</a></div>
</div>
<header class="wrapper">
	<div class="sub-brand"><a href="index.html"><span>Business registration</span></a></div>
	<div class="gov"><a href="http://www.business.gov.au"><span>business.gov.au</span></a></div>
	<nav id="settings">
		<ul class="nav-menu">
			<li class="nav-item">
				<a href="settings.html" id="accessible-megamenu-1483574910903-1" aria-haspopup="true" aria-owns="accessible-megamenu-1483574910903-2" aria-controls="accessible-megamenu-1483574910903-2" aria-expanded="false" class=""><span class="">mike.ross@business.com <span class="fa fa-bars"></span></span></a>
				<div class="sub-nav" id="accessible-megamenu-1483574910903-2" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-1483574910903-1">
					<ul class="sub-nav-group">
						<li><a href="{{ site.baseurl }}/existing">Start a new application</a></li>
						<li><a href="/account/signout">Sign out</a></li>
						<!-- <li class="sub-menu"><a href="#">Admin functions<span class="fa fa-chevron-circle-down">&nbsp;</span></a>
							<ul class="sub-nav-reveal">
								<li><a href="#">Content admin</a></li>
								<li><a href="#">Whitelist admin</a></li>
							</ul>
						</li> -->
					</ul>
				</div>
			</li>
		</ul>
	</nav>
	<p class="app-ref"><strong>Reference:</strong> 1708-AA-2128-L</p>
</header>
