---
layout: default
---
<div class="toc">
	<h1>Style guide</h1>
	<ol>
		<li><a href="guide/typography.html">Typography</a></li>
		<li><a href="guide/buttons.html">Buttons</a></li>
		<li><a href="guide/branding.html">Branding</a></li>
		<li><a href="guide/grid.html">Grid</a></li>
		<li><a href="guide/validation.html">Validation and help text</a></li>
		<li><a href="guide/navigation.html">Navigation</a></li>
		<li><a href="guide/media.html">Embedded media</a></li>
		<li><a href="guide/forms.html">Form elements</a></li>
	</ol>
</div>
	<p>This style guide is a <em>work in progress</em> guide for developing and testing the streamlining business registration project.</p>

<h2>Latest changes</h2>
<table>
	<tr>
		<th style="width: 12%">Date</th>
		<th>Change</th>
	</tr>
	<tr>
		<td>04 07 16</td>
		<td>Added radio toggle variations (under <a href="guide/forms.html#radio-toggle">forms</a>)).</td>
	</tr>
	<tr>
		<td>06 05 16</td>
		<td>Added percentage meter (under <a href="guide/navigation.html#percentage">navigation</a>) and compact data table (under <a href="guide/typography.html#data-table">typography</a>).</td>
	</tr>
	<tr>
		<td>26 04 16</td>
		<td>Added input type=file styles (under <a href="guide/forms.html#file-input">forms</a>).</td>
	</tr>
	<tr>
		<td>10 03 16</td>
		<td>Updated header and branding. Removed "icons" from style guide.</td>
	</tr>
	<tr>
		<td>05 02 16</td>
		<td>Updated radio buttons and checkboxes for browser consistency. <a href="guide/forms.html">Form elements</a></td>
	</tr>
	<tr>
		<td>29 01 16</td>
		<td>Restructured style guide, splitting sections into separate pages. Content not yet edited.</td>
	</tr>
	<tr>
		<td>28 01 16</td>
		<td>Added modal dialogue box to <a href="guide/validation.html#modal">Validation and help text</a>.</td>
	</tr>
</table>