<!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign in | business.gov.au</title>
		<script src="//register.business.gov.au/scripts/jquery-2.1.1.js"></script>
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css">
		<link href="//www.business.gov.au/areas/business/assets/bundle1.css" rel="stylesheet">
		<link href="//www.business.gov.au/areas/business/assets/bundle2.css" rel="stylesheet">
		<link href="css/identity.css" rel="stylesheet">
    </head>
    <body>
		<header>
			<!-- ~/Areas/Business/Views/Navigation/Mega.cshtml -->
			<nav class="business-navigation-mega">
				<div class="MegaMenu" role="menubar">
					<div class="row">
						<div class="mobile-logo">
							<a href="/"><strong>business</strong>.gov.au</a> 
						</div>
						<a href="/" class="left logo">
							<img src="https://www.business.gov.au/Areas/Business/Assets/App/header-logo.png" alt="Business.gov.au logo">
						</a>
					</div>
				</div>
			</nav>
		</header>
		<main>
			<div class="row">
				<h1>{{ page.title }}</h1>
				{{ content }}
			</div>
		</main>
		<footer class="hide-on-print">
			<!-- ~/Areas/Business/Views/Navigation/FooterLinks.cshtml -->
			<div class="navigation-footer-links">
				<div class="row">
				</div>
			</div>

			<!-- ~/Areas/Business/Views/Navigation/FooterLegal.cshtml -->
			<div class="navigation-footer-legal">
				<div class="row">
					<div class="columns">
						<ul class="legal">
							<li class="small-only-12"><a href="/about">About</a></li>
							<li class="small-only-12"><a href="/for-government">For Government</a></li>
							<li class="small-only-12"><a href="/legal-notices">Legal notices</a></li>
							<li class="small-only-12"><a href="/about/accessibility">Accessibility</a></li>
							<li class="small-only-12"><a href="/about/other-languages">Other languages</a></li>
							<li id="phone" class="small-only-12"><a href="tel:132846">13 28 46</a></li>
							<li class="small-only-12">    <a href="/contact-us">Contact us</a></li>
						</ul>
						<!-- <ul class="social">
								<li>
									<a class="facebook" href="https://www.facebook.com/business.gov.au">
										<span class="fa fa-facebook-square"></span>
										<span class="label show-for-sr">Facebook</span>
									</a>
								</li>
								<li>
									<a class="twitter" href="https://twitter.com/business_gov_au">
										<span class="fa fa-twitter-square"></span>
										<span class="label show-for-sr">Twitter</span>
									</a>
								</li>
								<li>
									<a class="linkedin" href="https://www.linkedin.com/company/department-of-innovation-industry-science-and-research">
										<span class="fa fa-linkedin-square"></span>
										<span class="label show-for-sr">LinkedIn</span>
									</a>
								</li>
								<li>
									<a class="youtube" href="https://www.youtube.com/user/BusinessGovAu">
										<span class="fa fa-youtube-square"></span>
										<span class="label show-for-sr">Youtube</span>
									</a>
								</li>
						</ul> -->
						<div class="bga-ftr-logo">
							<a href="/"><strong>business</strong>.gov.au</a>
						</div>
						<a href="/" class="logo">
							<img src="//www.business.gov.au/Areas/Business/Assets/App/Images/bga_logo_footer.png" alt="Business.gov.au logo">
						</a>
					</div>
				</div>
			</div>
			<!-- <a href="/web-chat" class="chat-now">Chat Now</a> -->
		</footer>
	</body>
</html>
